@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Bebas+Neue&family=Montserrat:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body
{
    width:100%;
}
.container
{
    width:100%;
    height:2000px;
    border:1px solid rgb(114, 106, 106);
}
.header
{
    position: fixed;
    width:100%;
    height:200px;
    background-color:rgb(19, 47, 94);
}
.header .header-up
{
    width:100%;
    height:50%;
}
.header .header-up .logo
{
    width:30%;
    height:50px;
    padding:10px 100px;
}
.header .header-up .logo span
{
    text-align: center;
    font-size:50px;
    font-family: 'Akaya Telivigala', cursive;;
    color:#fff;
}
.header .header-down 
{
    width:100%;
    height:50%;
}
.header .header-down .menu
{
    width:100%;
    height:100%;
    background: linear-gradient(90deg,rgb(148, 186, 235),rgb(12, 113, 213),rgb(148, 186, 235));
}
.menu ul
{
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-top: 20px;
    align-items: center;
}
.menu ul li
{
    display: block;
    width:150px;
    height:50px;
    margin-left: 20px;
    font-size:30px;
    color:#fff
}
.main
{
    width:100%;
    height:2000px;
    background-image: url('https://ssl.tzoo-img.com/images/tzoo.14993.0.1176368.MontegoBay_jamaica_iStock-1320959189.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.main .section1 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:50%;
}  
.main .section1 .section1-head
{
    width:500px;
    height:150px;
    margin-top:300px;
    font-family:'viga',serif ;
    text-align: center;
}
.main .section1 .section1-head .head-1
{
    font-size:30px;
    color:#fff
}
.main .section1 .section1-head .head-2
{
    font-size:45px;
    color:#fff;
    margin-top: 20px;
}
.main .section1  .section1-titles
{
    display: flex;
    width:1000px;
    height:50px;
}
.main .section1  .section1-titles .title1
{
    display:inline-block;
    width:250px;
    height:50px;
    padding: 10px 50px;
    background-color: #fff;
    color:#555;
    border-right: 1px solid #ccc;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-family: 'Montserrat',serif;
    font-size:16px;
    font-weight: bold;
    text-align: center;
}
.main .section1  .section1-titles .title2
{
    display:inline-block;
    width:250px;
    height:50px;
    background-color: #fff;
    color:#333;
    border-right: 1px solid #ccc;
    padding:10px 50px;
    font-family: 'Montserrat',serif;
    font-size: 16px;
    color:#555;
    font-weight: bold;
    text-align: center;
}
.title1  ul
{
    width:100px;
    height:100px;
    background-color: #fff;
    list-style-type: none;
    margin-top: 10px;
    margin-left: 20px;
}
.title1 ul li
{
    margin-top: 5px;
}
.main .section1  .section1-titles .title3
{
    display:inline-block;
    width:250px;
    height:50px;
    background-color: #fff;
    color:#555;
    border-right: 1px solid #ccc;
    padding:10px 50px;
    font-family: 'Montserrat',serif;
    font-size:16px;
    font-weight: bold;
    text-align: center;
}
.main .section1  .section1-titles .title4
{
    display:inline-block;
    width:250px;
    height:50px;
    padding: 10px 30px;
    background-color: rgb(232, 152, 15);
    color:#555;
    border-right: 1px solid #ccc;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: 'Montserrat',serif;
    font-size:16px;
    font-weight: bold;
    text-align:left;
}
.section2 .section2-head
{
    width:300px;
    height:100px;
    margin:20px auto;
    text-align: center;
}
.section2 .section2-head h2
{
    font-family:'viga',serif;
    font-size: 30px;
}
.section2 .section2-head h4
{
    font-family:'viga',serif;
    font-size:20px;
    margin-top: 10px;
}
.card-containers
{
    display:flex;
    flex-wrap: wrap;
    margin:0 auto;
    justify-content: space-around;
    width:1300px;
    height:500px;
}
.card1
{
    width:350px;
    height:350px;
    margin-top: 20px;
    background-color: #eee;
}
.card1 .card1-img
{
    width:350px;
    height:280px;
    background-image: url('https://dynamic-media-cdn.tripadvisor.com/media/photo-o/14/10/2f/fe/united-kingdom.jpg?w=700&h=500&s=1');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card1 .card1-info
{
    display: flex;
    width:350px;
    height:70px;
    padding: 20px;
}

.card1 .card1-info .country
{
    width:70%;
    height:70px;
    font-family: 'Montserrat',serif;
    font-size: 21px;
    color:#333;
}
.card1 .card1-info .money
{
    width:30%;
    height:70px;
    font-family: 'Montserrat',serif;
    font-size: 21px;
    color:#333;
}
.card1 .card2-img
{
    width:350px;
    height:280px;
    background-image: url('https://cdn-bmalj.nitrocdn.com/uirOOtSrYrqqUksKHkiSCjZGZlPeXsmk/assets/static/optimized/rev-939cb5a/images/cities-in-spain-1600x1067.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card1 .card3-img
{
    width:350px;
    height:280px;
    background-image: url('https://unicapp.co.uk/wp-content/uploads/2021/11/Istanbul_Turkey_Houses_505904.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card1 .card4-img
{
    width:350px;
    height:280px;
    background-image: url('https://media.timeout.com/images/105761603/750/422/image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card1 .card5-img
{
    width:350px;
    height:280px;
    background-image: url('https://cdn.cnn.com/cnnnext/dam/assets/170606121226-japan---travel-destination---shutterstock-230107657-super-tease.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card1 .card6-img
{
    width:350px;
    height:280px;
    background-image: url('https://i.natgeofe.com/k/42e832f5-fd48-43ff-b338-091bdf4048ca/india-tajmahal_16x9.jpg?w=1200');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}